///********************///
///*     Colors       *///
///********************///

$black: #000;
$white: #fff;

$sky: #0DCBDB;
$blue: #1428A0;



///********************///
///*    Break Points  *///
///********************///
$screen-xsm: 320px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xlg: 1280px;

///********************///
///*       Fonts      *///
///********************///

$primary-font: 'Noto Sans Korean', Helvetica, 'malgun gothic', 'Apple SD Gothic Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;